// color variables
@import "../../styles/filename.module.scss";

.categories-container {
	text-align: center;
	padding: 2rem;
	background-color: $border-grey;
	box-shadow: 0 4px 8px $translucent-black-1;
	border-radius: 10px;

	.filter-button {
		margin-bottom: 1rem;
	}

	.categories-panel {
		margin-top: 1rem;
		padding: 1rem;
		background-color: $white;
		border-radius: 10px;
		overflow: hidden;
		transition: max-height 0.3s ease-in-out;

		.category-list {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;

			.category-label {
				margin-bottom: 0.5rem;
			}
		}
		&.open {
			max-height: 100vh;
		}

		&.closed {
			max-height: 0;
		}
	}

	.movie-display-area {
		margin-top: 2rem;
		background-color: $white;
		border-radius: 25px;
		padding: 1.3rem 0rem;
	}

	.no-movies {
		margin-top: 1rem;
	}
}

.filter-button {
	background-color: $blue-1;
	color: $white;
	border: none;
	padding: 1rem 2rem;
	font-size: 1rem;
    font-weight: 500;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: $blue-2;
	}
}
